extends layout.pug

//- This pug template dynamically renders all of the data on a given project by pulling from the data.json file.
//- All information, including the project name, description, technologies, links, and images. 

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= thisProject.project_name
        p.lead.text-light
          | #{thisProject.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          each technology in thisProject.technologies
            li= technology
        if thisProject.live_link
          a.button.expanded(href=`${thisProject.live_link}` target='_blank') Live Demo
        if thisProject.github_link
          a.button.expanded(href=`${thisProject.github_link}` target='_blank') GitHub Repo
    
    img.image(src=`../${thisProject.image_urls[1]}`)
    img.image(src=`../${thisProject.image_urls[2]}`)
    img.image(src=`../${thisProject.image_urls[3]}`)